.wrapper {
    height: 100%;
    position: relative;
}
.form__control {
    margin-bottom: 20px;
}
.form__control + .form__control {
    margin-top: 20px;
} 
.form__quantity {
    position: relative;

    button.btn__quantity {
        width: 80px !important;
        position: absolute;
        top: 0;
    }
    button.btn__quantity__down {

    }
    button.btn__quantity__up {
        right: 0;
    }
}

select + label {
    margin-top: 10px;
}


.container__table {
    width: calc(100%/3);
    display: inline-block;
    position: relative;
    
    :hover {
        background-color: #bdd4f84a;
    }
    
    a {

        img {
            width: 60%;
            margin: 0 20%;
        }
    }

    span {
        position: absolute;
        left: 36px;
        top: 13px;
        display: flex;
        width: 47px;
        height: 46px;
        border-radius: 50%;
        font-size: 18px;
        color: #0d2fff;
        font-weight: 700;
        background-color: #fffdfb;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
}

.container__table + .container__table {
    margin-top: 40px;
}

.table_order__detail {
    font-size: 16px!important;
}

.btn__new__order {

}

.new__order {
    position: fixed;
    bottom: 74px;
    right: 10px;
    border-radius: 50%;

    a {
        text-decoration: none;
        // color: #fff;

        img {
            width: 80px;
        }
    }
}

.modal__order__add {
    background-color: #fff;
    border-radius: 4px;
    position: fixed;
    top: 275px;
    width: 100%;
    max-width: 419px;
    padding: 10px !important;
}
