
.container__table {
    width: calc(100%/3);
    display: inline-block;
    position: relative;
    
    :hover {
        background-color: #bdd4f84a;
    }
    
    a {

        img {
            width: 60%;
            margin: 0 20%;
        }
    }

    span {
        position: absolute;
        left: 36px;
        top: 13px;
        display: flex;
        width: 47px;
        height: 46px;
        border-radius: 50%;
        font-size: 18px;
        color: #0d2fff;
        font-weight: 700;
        background-color: #fffdfb;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
}

.container__table + .container__table {
    margin-top: 40px;
}