
.container__table {
    width: calc(100%/3);
    display: inline-block;
    position: relative;
    
    :hover {
        background-color: #bdd4f84a;
    }
    
    a {

        img {
            width: 60%;
            margin: 0 20%;
        }
    }

    span {
        position: absolute;
        left: 22px;
        top: 20px;      
        font-size: 18px;  
        color: #5300ff;
        font-weight: 600;
        background-color: aliceblue;
        padding: 4px;
    }
}

.container__table + .container__table {
    margin-top: 40px;
}